<div class="container">
    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
        <button class="btn btn-success m-1"><i class="far fa-save"></i></button>
    {{ form_end(form) }}
</div>