{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
        <h1>Modifier la catégorie</h1>
        <div>
            {{ include('categorie/_form.html.twig') }}
        </div>
        <div class="d-flex justify-content-between col-12 m-1">
            <div class="col-12 col-md-6 col-lg-3">
                <a class="btn btn-primary" href="{{ path('categorie_index') }}">back to list</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                {{ include('categorie/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}